:root {
  --main-color-shade1: #112e6b;
  --main-color: #184199;
  --main-color-tint1: #d1d9eb;
  --grey-color-shade1: #191919;
  --grey-color: #2a2a29;
  --grey-color-tint1: #7f7f7f;
  --accent-color-shade1: #b5426c;
  --accent-color: #e25387;
  --backgroud: #e8ecf5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grey-color);
  background-color: var(--backgroud);
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/*Barra de navagacion*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  height: 8rem;
  background-color: var(--main-color-tint1);
}

.main-logo {
  height: 6rem;
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

.main-link,
.cta-link {
  transition: all 0.3s;
}

.main-link:link,
.main-link:visited {
  color: var(--grey-color-shade1);
  text-decoration: none;
}

.main-link:active,
.main-link:hover {
  color: var(--accent-color);
}

.cta-link {
  padding: 1rem 1.5rem;
  background-color: var(--accent-color);
  border-radius: 15px;
  color: var(--backgroud);
}

.cta-link:link,
.cta-link:visited {
  text-decoration: none;
}

.cta-link:hover,
.cta-link:active {
  background-color: var(--accent-color-shade1);
}

/*Hero section*/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
  height: 100%;
}

.section-hero {
  height: calc(100vh - 8rem);
  padding: 12rem 4rem;
  background-color: var(--main-color-tint1);
}

.hero-text {
  height: 100%;
}

.primary-heading {
  font-size: 6rem;
  margin-bottom: 4rem;
  line-height: 1.05;
  color: var(--grey-color);
}

.description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 5rem;
}

.hero-buttons {
  display: flex;
  gap: 4rem;
}

.hero-link {
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.3s;
  font-weight: 600;
}

.hero-cta:visited,
.hero-cta:link {
  background-color: var(--accent-color);
  color: var(--backgroud);
}

.hero-cta:hover,
.hero-cta:active {
  background-color: var(--accent-color-shade1);
}

.hero-info:link,
.hero-info:visited {
  color: var(--grey-color-shade1);
  background-color: var(--backgroud);
}

.hero-info:hover,
.hero-info:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--backgroud);
}

.hero-img-container {
  height: 75%;
  border-radius: 20px;
  /* background-color: red; */
  background: linear-gradient(
    41deg,
    var(--main-color-tint1) 0%,
    var(--main-color) 60%,
    var(--accent-color) 100%
  );
}

.hero-img {
  transform: scale(1.3);
  width: 100%;
  z-index: 10;
}

/*Seccion de promesas de valor*/

.section-why {
  padding-top: 5rem;
}

.grid-why {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 40rem);
  row-gap: 5rem;
  align-items: center;
}

.secondary-heading {
  font-size: 5rem;
  margin-bottom: 8rem;
}

.why-icon {
  height: 7rem;
  width: 7rem;
  margin-bottom: 3rem;
  opacity: 0.6;
  stroke: var(--main-color-shade1);
}

.tertiary-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.why-text-container {
  padding: 3rem;
}

.why-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.why-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.idea-img {
  height: 100%;
  width: auto;
}

.teacher-img {
  width: 100%;
  height: auto;
}

.team-img,
.profit-img {
  height: 100%;
  width: auto;
}

.thinking-img {
  height: 70%;
  width: auto;
}

.business-img {
  width: 90%;
  height: auto;
}

/* Seccion perfil del expositor*/

.section-lecturer {
  padding-top: 8rem;
  color: var(--main-color-tint1);
  margin-bottom: 10rem;
}

.lecturer {
  background-color: var(--main-color);
  box-shadow: 20px 11px 35px -4px rgba(42, 42, 41, 0.34);
  border-radius: 60px;
  padding: 6rem;
}

.profile-img {
  width: 33rem;
  height: auto;
  border-radius: 50%;
}

.lecturer-content {
  display: flex;
  gap: 6rem;
  margin-top: 3rem;
}

.contact {
  list-style: none;
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact li,
.contact-link {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.contact-icon {
  height: 2.5rem;
  margin-right: 1rem;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  color: var(--main-color-tint1);
}

.contact-link:hover,
.contact-link:active {
  color: var(--accent-color);
}

.lecturer-desc {
  font-size: 2.5rem;
  line-height: 1.5;
}
